/* header */
.header { position: fixed; top: 0; left: 0; width: 100%; z-index: 10; }
.header .inner { display: flex; justify-content: space-between; align-items: center; padding: var(--px-14) var(--px-20); } 
.header .inner .logo a { font: 900 var(--px-45) "Genos", sans-serif; color: var(--color-gray-0); line-height: 1; } 
.header .inner .logo a:hover { color: transparent; -webkit-text-stroke: 1px var(--color-gray-0); text-stroke: 1px var(--color-gray-0); } 
.header .inner .gnb ol { counter-reset: index; }
.header .inner .gnb ol li { display: flex; gap: var(--px-6); align-items: center; counter-increment: index; }
.header .inner .gnb ol li::before { content: counter(index, decimal-leading-zero); font-size: var(--px-12); }
.header .inner .gnb ol li a { display: block; font-size: var(--px-14); font-weight: 600; transition: .2s; } 
.header .inner .gnb ol li a:hover { transform: rotateY(30deg); transform-origin: left; }


/* footer */
.footer { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 10; }
.footer .inner { display: flex; justify-content: space-between; align-items: center; padding: var(--px-14) var(--px-20); font-size: var(--px-14); color: var(--color-gray-0); } 
.footer .inner h2 { font: var(--px-14) 400; }

/* section */
section { } 
section .inner { margin: var(--px-80) 250px; padding: var(--px-40); background: var(--color-gray-0); } 
section h2 { margin-bottom: var(--px-40); font-size: var(--px-40); } 

section#about { display: flex; justify-content: center; align-items: center; width: 100dvw; height: 100dvh; }
section#about .inner { margin-top: 0; margin-bottom: 0; }
.main-article .profile { display: flex; justify-content: space-between; align-items: center; gap: var(--px-30); }
.main-article .profile-image { width: 40%; max-width: 440px; }
.main-article .profile-image figure img { width: 100%; vertical-align: top; }
.main-article .profile-info { font-size: var(--px-16);}
.main-article .profile-info h3 { font-size: var(--px-32); }
.main-article .profile-info h3 span { display: block; }
.main-article .profile-info p { margin: var(--px-10) 0 var(--px-40); color: var(--color-gray-80); }
.main-article .profile-info ul { padding: var(--px-20) 0; border: 1px solid var(--color-gray-20); border-width: 1px 0; }
.main-article .profile-info ul li { }
.main-article .profile-info ul li strong { display: inline-block; min-width: 80px; max-width: 30%; margin-right: var(--px-14); font-weight: 600; color: var(--color-gray-90); }